<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="./index.css" rel="stylesheet">
    <!-- <link rel="stylesheet" media="(min-width:0px) and (max-width:500px)" href="파일경로" /> -->
    <!-- 미디어 쿼리 익스터널. 미디어 사이즈에 따라 다른 css파일을 불러올 수 있음 -->
</head>
<body>
    <div id="wrap">
        <div id="gnb">
            <ul>
                <li>naver</li>
                <li>youtube</li>
                <li>kakao</li>
            </ul>
        </div>
        
        <header>
            <h1>Hello World</h1>
            <div id="menu"></div>
        </header>
        
        <div id="container">
            <span id="mainContent">
                <div class="content"></div>
                <div class="content"></div>
                <div class="content"></div>
                <div class="content"></div>
            </span>
            
            <span id="subContent">
                <div class="content"></div>
                <div class="content"></div>
                <div class="content"></div>
                <div class="content"></div>
            </span>
        </div>
        
        <footer></footer>
    </div>
</body>
</html>